

@import url('https://fonts.googleapis.com/css?family=Montserrat|Oswald|Permanent+Marker');
body {
  margin: 0;
  background-color: #14213d;
}

h1, h2, p {
  color: 000000;
  font-size: 14px;
}

header h1 {
  color: #fca311;
}

main div header h2 {
  color: #668284;
  font-size: 24px;
}

main div p {
  font-size: 16px;
}

main div  {
  color: #668284;
  font-size: 24px;
}

main div header h2 , 
main div p, 
footer div nav p {
  text-align: center;
}

h1,
ul,
nav > p {
  margin: 10;
  padding: 10px;
}

header,
nav,
main,
footer {
  font-family: 'Oswald', sans-serif;
}

header div h1 {
  text-align: center;
  font-size: 70px;
  margin: 0;
  font-family: 'Permanent Marker', cursive;
}

header div nav {
  margin: 0 0 10px 10px;
}

header div nav a {
  padding: 0 15px 10px 20px;
  text-decoration: none;
  font-family: 'Montserrat', sans-serif;
  color: #493736;
}

header div nav a:hover {
  color: #14213d;
}

nav,
div {
  width: 300px;
  margin: auto;
}

nav:after {
  content: "";
  display: table;
  clear: both;
}

main div p {
  color: #493736;
}

main div {
  border: 3px solid #668284;
  padding: 10px;
  background-color: #fca311;
}

main div:first-of-type {
  border-bottom: none;
}

footer nav p {
  color: #000000;
}


