


body {
  margin: 0;
  background-color: #14213d;
}


header h1 {
  color: #2bfff4;
}

main div header h2 {
  color: #E5E5E5;
  font-size: 35px;
}

main div p {
  font-size: 20px;
}

main div  {
  color: #E5E5E5;
  font-size: 30px;
}

main div header h2 , 
main div p, 
footer div nav p {
  text-align: center;
}


header div h1 {
  text-align: center;
  font-size: 70px;
  margin: 0;
  font-family: serif;
}



main div {
  border: 6px solid #000000;
  padding: 10px;
  background-color: #14213D;
}

ul, ol, li {
  text-align: center;
}

footer nav p {
  color: #000000;
}

